.container{
  display: flex;
  flex-direction: column;
}

.header{
  color: white;
  background-color: black;
  display: flex;
  justify-content: space-between;
  /* flex-direction: row; */
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 0 3px 6px 0 #555;
}

.app_name{
  width: 45%;
}

.fa-utensils{
  color: gold;
  padding: 10px;
}

.search{
  display: flex;
  /* background-color: white; */
  background-color: rgba(255, 255, 255, 0.9);
  /* border: 1px solid white; */
  border-radius: 5px;
  padding: 1px;
  width: 45%;
}

.fa-magnifying-glass{
  color: black;
  display: flex;
  /* justify-content: flex-end; */
  align-items: center;
  margin: 10px;
}

.search_input{
  border: none;
  outline: none;
  width: 100%;
  font-size: 14px;
  font-weight: bold;
}

.recipe_container{
  display: flex;
  /* flex-direction: row; */
  justify-content: space-evenly;
  padding: 30px;
  flex-wrap: wrap;
}

.recipe{
  display: flex;
  width: 236px;
  flex-direction: column;
  box-shadow: 0 0 10px 2px #aaa;
  padding: 10px;
  margin: 20px;
  /* height: 250px; */
}

.image{
  height: 200px;
}

.recipe_name{
  font-size: 18px;
  font-weight: bold;
  /* display: flex;
  justify-content: center; */
  margin-top: 10px;
}

.Ingredients{
  font-size: 18px;
  border: 1px solid rgb(101, 186, 16);
  color: rgb(101, 186, 16);
  border-radius: 5px;
  background-color: white;
  margin-top: 10px;
}

.Ingredients:hover{
  border: 1px solid green;
  color: green;
}

.Ingredients:active{
  border: 1px solid rgb(101, 186, 16);
  color: rgb(101, 186, 16);
}

.err_img{
  width: 52%;
}